
img {
    max-width: 100%;
}

#image-container {
    background-color: black;
    max-width: 720px; /* 设置最大宽度 */
    max-height: 1280px; /* 设置最大高度 */
    display: block; /* 设置初始状态为显示 */
}

#controls {
    margin-top: 10px;
}

input[type="range"] {
    width: 200px;
}

/* 隐藏宽度和高度输入字段的箭头按钮 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* 移除控制按钮的默认边距 */
}
